<li class="game-item" data-id= "<%=game.id%>" data-name="<%=game.name%>">
  <%= game.name %> - <%= game.description%>
  <button class="btn" id="editing-game">Edit</button>
  <button class="btn" id="delete-game">Delete</button>
</li>